
<h1><%= @doctor.name %></h1>
<h3>Appointments: </h3>
<ul>
<% @appointments.each do |appt| %>
   <li> <%= appt.appointment_datetime.strftime("%B %d, %Y at %H:%M") %>
   -
   <a href="<%= patient_path(appt.patient)%>">
   <%= appt.patient.name %>
   </a>
   </li>
<% end %>
</ul>